@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Lato:300,400");
* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

div {
  box-sizing: border-box; }

a {
  color: #CFD4CA;
  text-decoration: none;
  display: inline; }

ul {
  display: inline;
  list-style: none;
  position: relative;
  padding-left: 25%;
  padding-right: 20%; }

li {
  list-style: none;
  display: inline;
  color: white;
  font-size: 1.1em;
  width: 25%;
  margin-right: 4%;
  font-family: "Lato", sans-serif; }

li:hover {
  color: #539553; }

nav {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  width: 100%;
  margin-right: 0px;
  display: inline;
  background-color: rgba(49, 46, 46, 0.6);
  position: fixed;
  top: 0px;
  padding-top: 10px;
  padding-left: 1%;
  padding-bottom: 5px;
  z-index: 10; }

nav > a:hover {
  background-color: white;
  color: black;
  border-radius: 5px; }

body {
  background-color: #2d302d;
  margin-top: 30px; }

img {
  width: 10%;
  height: 5%; }

button {
  font-family: "Fira Sans", sans-serif; }

h2 {
  color: #CFD4CA;
  font-size: 2.25em;
  padding: 30px;
  font-family: "Lato", sans-serif;
  margin-left: 2%;
  padding-bottom: 15px;
  margin-bottom: 15px; }

p {
  color: #CFD4CA;
  font-family: "Fira Sans", sans-serif; }

span {
  display: block;
  margin: 10px 0;
  width: 50px;
  height: 2px;
  background-color: #539553;
  margin-left: 4%;
  margin-bottom: 30px; }

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #CFD4CA; }

.git {
  float: right;
  margin-right: 50px;
  margin-top: 2%;
  min-width: 20px;
  min-height: 20px;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  right: 55%;
  border-radius: 8px; }

.linked {
  margin-top: 2%;
  margin-right: 50px;
  background-color: white;
  border-radius: 8px;
  min-width: 20px;
  min-height: 20px;
  max-width: 50px;
  max-height: 50px;
  float: right;
  position: absolute;
  left: 55%; }

.treehouse {
  float: right;
  position: absolute;
  right: 50%;
  margin-top: 2%;
  border-radius: 8px;
  min-width: 20px;
  min-height: 20px;
  max-width: 50px;
  max-height: 50px; }

.h, .a, .w, .c {
  margin-right: 5%;
  padding: 5px; }

.About {
  background-color: #196219;
  font-size: 2.25em;
  font-weight: 300;
  padding: 40px;
  line-height: 65px;
  text-align: center;
  margin-top: 100px; }

.tools {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5em; }

.services {
  background-image: url(../pictures/setup.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
  margin-bottom: 12%; }

.overlay {
  background-color: rgba(49, 46, 46, 0.7);
  width: 100%;
  min-height: 600px;
  height: auto; }

.service-headline {
  margin-top: 8%;
  font-weight: 300;
  display: inline; }

.service-icon {
  width: 8%;
  height: 8%;
  min-width: 25px;
  min-height: 25px;
  display: inline; }

.service-description {
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 6%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  width: 70%; }

.web-apps {
  max-width: 50%;
  padding: 2%;
  max-height: 50%;
  z-index: 2;
  display: inline-block;
  border-right: 1px solid #BAA8A8;
  border-left: 1px solid;
  border-top: 1px solid rgba(111, 111, 111, 0);
  border-bottom: 1px solid #BAA8A8;
  position: absolute;
  right: 50%;
  min-height: 260px;
  max-height: 260px; }

.SEO {
  max-width: 50%;
  max-height: 50%;
  padding: 2%;
  border-right: 1px solid #BAA8A8;
  border-left: 1px solid;
  border-top: 1px solid rgba(111, 111, 111, 0);
  border-bottom: 1px solid #BAA8A8;
  position: absolute;
  left: 50%;
  min-height: 260px;
  max-height: 260px; }

.PSD {
  padding: 2%;
  max-width: 50%;
  max-height: 50%;
  border-right: 1px solid #BAA8A8;
  border-left: 1px solid;
  border-top: 1px solid rgba(111, 111, 111, 0);
  border-bottom: 1px solid rgba(111, 111, 111, 0);
  position: relative;
  top: 280px;
  min-height: 260px;
  max-height: 260px; }

.Bugs {
  padding: 2%;
  width: 50%;
  max-height: 50%;
  border-right: 1px solid #BAA8A8;
  border-left: 1px solid;
  border-top: 1px solid rgba(111, 111, 111, 0);
  border-bottom: 1px solid rgba(111, 111, 111, 0);
  position: relative;
  float: right;
  min-height: 260px;
  max-height: 260px; }

@media (max-width: 740px) {
  .services {
    height: 1100px; }
  .overlay {
    height: 1100px; }
  .web-apps {
    width: 100%;
    right: 0%;
    max-width: 100%;
    display: block;
    margin-bottom: 10%;
    margin-bottom: 0%; }
  .Bugs {
    width: 100%;
    right: 0%;
    max-width: 100%;
    display: block;
    top: 0px;
    padding-top: 50%; }
  .SEO {
    left: 0%;
    max-width: 100%;
    position: relative;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    padding-top: 45%; }
  .PSD {
    width: 100%;
    right: 0%;
    max-width: 100%;
    display: block;
    padding-top: 20%;
    border-bottom: 1px solid #BAA8A8;
    border-top: 1px solid #BAA8A8;
    padding-top: 3%; } }

.app-picture-legal {
  background-image: url("../pictures/contract.jpg");
  width: 100%;
  height: 750px;
  z-index: -1; }

.app-picture-diamonds {
  background-image: url("../pictures/game.jpg");
  width: 100%;
  background-size: 100% 100%;
  height: 750px;
  z-index: -1; }

.app-picture-chuck {
  background-image: url("../pictures/chuck-norris.jpg");
  width: 100%;
  height: 750px;
  z-index: -1; }

.app-picture-quiz {
  background-image: url("../pictures/quiz.jpg");
  width: 100%;
  height: 750px;
  z-index: -1; }

.second-overlay {
  width: 100%;
  height: 750px;
  background-color: rgba(49, 49, 46, 0.7); }

.prev, .next {
  float: right;
  border-radius: 5px;
  background-color: #539553;
  margin-right: 10px;
  color: #CFD4CA;
  height: 60px; }

.project-name {
  text-align: center;
  padding-top: 250px;
  font-family: "Lato", sans-serif;
  font-size: 2.25em;
  font-weight: 300; }

.project-summary {
  text-align: center;
  font-size: 2.25em; }

.project-details {
  margin-left: 48%;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #539553;
  font-size: 1.5em;
  color: #CFD4CA;
  display: inline;
  margin-bottom: 20px; }

.app-showcase {
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 360px; }

.chuck-app-showcase {
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 360px;
  padding: 10px; }

.quiz-app-showcase {
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 360px;
  padding: 10px; }

.project-background {
  width: 90%;
  height: 100%;
  z-index: -1; }

.details {
  margin-left: 25%;
  width: 60%; }

.contact {
  margin-top: 150px;
  background-image: url("../pictures/river.jpg");
  text-align: center;
  height: 700px;
  z-index: -3; }

.contact-me {
  padding-top: 150px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5em; }

.lines {
  margin-left: 45%;
  width: 150px; }

.contact input {
  background-color: rgba(49, 49, 46, 0.1);
  font-family: "Fira Sans", sans-serif;
  height: 35px;
  border: 0px;
  font-weight: 300;
  color: white; }

.contact input::-webkit-input-placeholder {
  color: white;
  font-size: 1.5em;
  font-weight: 300; }

.contact input:-moz-placeholder {
  color: white;
  font-size: 1.5em;
  font-weight: 300; }

.contact input::-moz-placeholder {
  color: white;
  font-size: 1.5em;
  font-weight: 300; }

.contact input:-ms-input-placeholder {
  color: white;
  font-size: 1.5em;
  font-weight: 300; }

.c-overlay {
  background-color: rgba(49, 49, 46, 0.4);
  height: 700px; }

.send-message {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #539553;
  font-size: 1em;
  color: #CFD4CA;
  margin-right: 50px; }

.chuck-project-headline, .quiz-project-headline {
  padding-top: 30px; }

.app-desc, .next-steps {
  width: 75%;
  height: 15%; }

@media (min-width: 1279px) {
  li {
    font-size: 1.5em; } }

@media (max-width: 1000px) {
  ul {
    padding-left: 10%; } }

a > img:hover {
  box-shadow: 5px 5px 5px 15px #888888; }
