@import '0-plugins/plugins-dir';
@import '1-base/base-dir';
@import '2-modules/modules-dir';
@import '3-layouts/layouts-dir';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Lato:300,400');

$background-color:#2D302D;
$accent-color:#539553;
$contrast-color:#196219;
$overlay-color:rgba(49,46,46,.7);
$line-spacing: 22px;
$header-font:'Lato', sans-serif;
$normal-font: 'Fira Sans', sans-serif;


* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;

}

div { box-sizing: border-box; }

a {
	color: #CFD4CA;
	text-decoration:none;
	display:inline;
}
ul{
	display:inline;
	list-style: none;
	margin-left:7%;
}

li {
	list-style: none;
	display:inline;
	color:white;
	font-size:1.5em;
	width:25%;
	margin-right:10%;
	font-family: $header-font
}

li:hover {
	color: $accent-color;
}

nav{
	font-size:1em;
	font-family: $header-font;
	width:100%;
	margin-right:0px;
	display:inline;
	background-color:rgba(49,46,46,.6);
	position:fixed;
	top:0px;
	padding-top:1%;
	padding-left:1%;
	padding-bottom:1%;
	
}

nav > a:hover {
	background-color:white;
	color:black;
	border-radius:5px;
}

body {
	background-color: rgb(45,48,45);
	margin-top:30px;
}

img{
	width:10%;
	height:5%;
}

button {
	font-family: $normal-font;
}

h2 {
	color:#CFD4CA;
	font-size:2.25em;
	padding:30px;
	font-family: $header-font;
	margin-left:2%;
	padding-bottom:15px;
	margin-bottom:15px;
}

p{
	color:#CFD4CA;
	font-family: $normal-font;
}

span {
	display:block;
	margin:10px 0;
	width:50px;
	height:2px;
	background-color:$accent-color;
	margin-left:4%;
	margin-bottom:30px;
}

h4 {
	font-family: $header-font;
	font-size: 1.5em;
	color:#CFD4CA;
}







.git{
	float:right;
	margin-right:50px;
	margin-top:2%;
	min-width:20px;
	min-height:20px;
	max-width:50px;
	max-height:50px;
}

.linked {
	float:right;
	margin-top:2%;
	margin-right:50px;
	background-color:white;
	border-radius:8px;
	min-width:20px;
	min-height:20px;
	max-width:50px;
	max-height:50px;
}

.treehouse {
	float:right;
	margin-right:45%;
	margin-top:2%;
	border-radius:8px;
	min-width:20px;
	min-height:20px;
	max-width:50px;
	max-height:50px;
} 

.h, .a, .w, .c {
	margin-right:5%;
	padding:5px;
}



.About {
	background-color: $contrast-color;
	font-size:2.25em;
	font-weight: 300;
	padding:60px;
	line-height: 65px;
	text-align: center;
	margin-top:100px;
}



.tools {
	text-align: center;
	font-family: $header-font;
	font-weight:300;
	font-size:1.5em;
}



.services {
	background-image:url(../pictures/setup.jpg);
	z-index:-1;
	background-repeat: no-repeat;
	width:100%;
	min-height:600px;
	background-size:100% 100%;
	margin-bottom:12%;
}

.overlay {
	background-color: rgba(49,46,46,.7);
	width:100%;
	min-height:600px;
	height:auto;
}

.service-headline {
	margin-top:8%;
	font-weight:300;
	display:inline;
}

.service-icon {
	width:8%;
	height:8%;
	min-width:25px;
	min-height:25px;
	display:inline;
}

.service-description {
	font-size:1.5em;
	margin-left:5%;
	margin-top:6%;
	font-family: $normal-font;
	font-weight:300;
	width:70%;
}

.web-apps {
	width:50%;
	padding:2%;
	height:50%;
	z-index:2;
	display:inline-block;
	border-right: 1px solid #BAA8A8;
	border-bottom: 1px solid #BAA8A8;
}

.SEO {
	width:50%;
	height: 50%;
	padding:2%;
	border-bottom: 1px solid #BAA8A8;
	float:right;
}

.PSD {
	padding:2%;
	width:50%;
	height:50%;
	float:right;

}

.Bugs {
 padding:2%;
 width:50%;
 height:50%;
 border-right:1px solid #BAA8A8 ;
}

.app-picture-legal {
background-image: url('../pictures/contract.jpg');
	width:100%;
	height:750px;
	z-index:-1;
}

.app-picture-diamonds {
background-image: url('../pictures/game.jpg');
	width:100%;
	background-size:100% 100%;
	height:750px;
	z-index:-1;
}
.app-picture-chuck {
background-image: url('../pictures/chuck-norris.jpg');
	width:100%;
	height:750px;
	z-index:-1;
}

.app-picture-quiz {
background-image: url('../pictures/quiz.jpg');
	width:100%;
	height:750px;
	z-index:-1;
}

.second-overlay {
width:100%;
height:750px;
background-color: rgba(49,49,46,.7);
}

.prev, .next {
	margin-top:30px;
	float:right;
	border-radius:5px;
	background-color: $accent-color;
	margin-right:15px;
	padding:10px;
	color:#CFD4CA;
	margin-right:50px;
	width:80px;
	height:80px;
}

.project-name {
	text-align: center;
	padding-top:250px;
	font-family: $header-font;
	font-size: 2.25em;
	font-weight:300;
}

.project-summary {
	text-align:center;
	font-size:2.25em;
}

.project-details {
	margin-left:48%;
	width:100px;
	height:50px;
	border-radius: 5px;
	background-color: $accent-color;
	font-size:1.5em;
	color:#CFD4CA;
	display:inline;
	margin-bottom:20px;

}

.app-showcase {
	width:950px;
	height:470px;
	padding:10px;
}

.chuck-app-showcase {
	width:850px;
	height:500px;
	padding:10px;
}

.quiz-app-showcase {
	width:900px;
	height:500px;
	padding:10px;
}

.project-background {
	width:910px;
	height:480px;
	z-index:-1;
}

.details {
	margin-left:20%;
	width:60%;
}

.contact {
	margin-top:150px;
	background-image: url('../pictures/river.jpg');
	text-align:center;
	height:700px;
	z-index:-3;
}

.contact-me {
padding-top:150px;
font-family: $normal-font;
font-weight:300;
font-size:1.5em;
}

.lines {
	margin-left:45%;
	width:150px;
}

.contact input {
	background-color: rgba(49,49,46,.1);
	font-family:$normal-font;
	height:35px;
	border:0px;
	font-weight:300;
	color:white;
}

.contact input::-webkit-input-placeholder {
	color:white; font-size:1.5em;
	font-weight:300;
	} 
.contact input:-moz-placeholder {
	color:white; font-size:1.5em;
	font-weight:300;
	} 
.contact input::-moz-placeholder {
	color:white; font-size:1.5em;
	font-weight:300;
	}
.contact input:-ms-input-placeholder {
 	color:white; font-size:1.5em;
 	font-weight:300;
	}

	.c-overlay {
		background-color: rgba(49,49,46,.4);
		height:700px;
	}

	.send-message {
	width:100px;
	height:50px;
	border-radius: 5px;
	background-color: $accent-color;
	font-size:1em;
	color:#CFD4CA;
	margin-right:50px;
	}

	.chuck-project-headline, .quiz-project-headline {
		padding-top:30px;
	}


	.app-desc, .next-steps {
		width:75%;
		height:15%;
	}

	
